# Pandas Dataframe slicing methods

In [1]:
import numpy as np
import pandas as pd

In [2]:
# create a dummy pd DF
df = pd.DataFrame(
    {
        'a': [25, 20, 15, 10, 5],
        'b': [24, 19, 14, 9, 4],
        'c': [23, 18, 13, 8, 3],
        'd': [22, 17, 12, 7, 2],
        'e': [21, 16, 11, 6, 1]
    }, 
    index = ['u', 'v', 'x', 'y', 'z']
)
df

    a   b   c   d   e
u  25  24  23  22  21
v  20  19  18  17  16
x  15  14  13  12  11
y  10   9   8   7   6
z   5   4   3   2   1

In [39]:
# select one column

### return a pd Series
# df['b']         # via column name
# df.b            # via the dot notation, i.e. treat column name as attribute
# df.loc[:, 'b']  # loc column name
# df.iloc[:, 1]   # iloc column index num

### return a pd DataFrame
# df.loc[: , df.columns.isin(['b'])]                  # via boolean value
df.loc[: , ~df.columns.isin(['a', 'c', 'd', 'e'])]  # via the negative of boolean value

    b
u  24
v  19
x  14
y   9
z   4

In [31]:
# select one row and return a Series

# df.loc['v']   # via row index name                        
# df.loc['v' , :]   # via rown index name and column range
# df.loc[df.index.isin(['v']) , :]  # via boolean values
# df.iloc[1]  # via row index num
# df.iloc[1 , :]  # via row index num and columne index num

# the following returns a pd DataFrame, instead of a Series
# df.loc[~df.index.isin(['v']) , :]  # exclude a row via boolean values

    a   b   c   d   e
u  25  24  23  22  21
x  15  14  13  12  11
y  10   9   8   7   6
z   5   4   3   2   1