# Pandas Dataframe slicing methods

- styling

    - https://stackoverflow.com/questions/41654949/pandas-style-function-to-highlight-specific-columns

In [1]:
import numpy as np
import pandas as pd

In [9]:
# create a dummy pd DF
df = pd.DataFrame(
    {
        'a': [25, 20, 15, 10, 5],
        'b': [24, 19, 14, 9, 4],
        'c': [23, 18, 13, 8, 3],
        'd': [22, 17, 12, 7, 2],
        'e': [21, 16, 11, 6, 1]
    }, 
    index = ['u', 'v', 'x', 'y', 'z']
)

df

    a   b   c   d   e
u  25  24  23  22  21
v  20  19  18  17  16
x  15  14  13  12  11
y  10   9   8   7   6
z   5   4   3   2   1

## select column(s) by name or index

In [12]:
# select one column

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice[:, ['b']])

In [16]:
# return a pd Series

# df['b']         # via column name
# df.b            # via the dot notation, i.e. treat column name as attribute
# df.loc[:, 'b']  # loc column name
df.iloc[:, 1]   # iloc column index num

u    24
v    19
x    14
y     9
z     4
Name: b, dtype: int64

In [19]:
# return a pd DataFrame

# df.loc[: , df.columns.isin(['b'])]                  # via boolean value
# df.loc[: , np.logical_not(df.columns.isin(['a', 'c', 'd', 'e']))]
df.loc[: , ~df.columns.isin(['a', 'c', 'd', 'e'])]  # via the negative of boolean value

    b
u  24
v  19
x  14
y   9
z   4

In [20]:
# select a range of continuous columns

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice[:, 'b':'d'])

In [45]:
# df[['b', 'c', 'd']]

# df.loc[:, 'b':'d']  # note that the last column name is inclusive
# df.loc[:, df.columns.isin(['b', 'c', 'd'])]
# df.loc[:, ~df.columns.isin(['a', 'e'])]
# df.loc[:, np.logical_not(df.columns.isin(['a', 'e']))]

df.iloc[:, 1:4] # note that the last column index is exclusive

    b   c   d
u  24  23  22
v  19  18  17
x  14  13  12
y   9   8   7
z   4   3   2

In [37]:
# select several incontinuous columns

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice[:, ['b', 'd', 'e']])

In [44]:
# df[['b', 'd', 'e']]

# df.loc[:, ['b', 'd', 'e']]
# df.loc[:, df.columns.isin(['b', 'd', 'e'])]
# df.loc[:, np.logical_not(df.columns.isin(['a', 'e']))]
# df.loc[:, ~df.columns.isin(['a', 'e'])]

df.iloc[:, [1, 3, 4]]

    b   d   e
u  24  22  21
v  19  17  16
x  14  12  11
y   9   7   6
z   4   2   1

In [50]:
# select every nth columns

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice[:, ['b', 'd']])

In [116]:
# df[df.columns[1::2]]
# df.loc[: , df.columns[1::2]]
df.iloc[: , 1::2]

    b   d
u  24  22
v  19  17
x  14  12
y   9   7
z   4   2

## select row(s) by name or index

In [57]:
# select one row

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice['v', :])

In [75]:
# return a Series

# df.loc['v']   # via row index name                        
# df.loc['v' , :]   # via rown index name and column range

# df.iloc[1]  # via row index num
df.iloc[1 , :]  # via row index num and columne index num

a    20
b    19
c    18
d    17
e    16
Name: v, dtype: int64

In [78]:
# return a DataFrame

# df.loc[df.index.isin(['v']) , :]  # via boolean values
df.loc[~df.index.isin(['u', 'x', 'y', 'z']) , :]  # exclude row via boolean values

    a   b   c   d   e
v  20  19  18  17  16

In [79]:
# select a range of continuous rows

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice['v':'y', :])

In [84]:
# df.loc['v':'y' , :]
df.iloc[1:4 , :]    # note that the end of the index range is exclusive

    a   b   c   d   e
v  20  19  18  17  16
x  15  14  13  12  11
y  10   9   8   7   6

In [85]:
# select incontinuous rows

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice[['v', 'y', 'z'], :])

In [88]:
# df.loc[['v', 'y', 'z'] , :]
df.iloc[[1, 3, 4] , :]

    a   b   c   d   e
v  20  19  18  17  16
y  10   9   8   7   6
z   5   4   3   2   1

In [89]:
# select every nth rows

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice[['v', 'y'], :])

In [118]:
# df.loc[df.index[1::2] , :]
df.iloc[1::2 , :]

    a   b   c   d   e
v  20  19  18  17  16
y  10   9   8   7   6

## select column(s) and row(s) by name or index

In [121]:
# select every nth rows

def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice[['u', 'x', 'z'], ['a', 'c', 'e']])

In [124]:
# df.loc[['u', 'x', 'z'] , ['a', 'c', 'e']]
df.iloc[[0, 2, 4] , [0, 2, 4]]

    a   c   e
u  25  23  21
x  15  13  11
z   5   3   1

## select a row by condition for values in one column

In [141]:
def highlight_cols(s):
    color = 'green'
    return 'background-color: %s' % color

df.style.applymap(highlight_cols, subset=pd.IndexSlice['u':'x' , :])

In [142]:
df[ df['d'] >= 12 ]

    a   b   c   d   e
u  25  24  23  22  21
v  20  19  18  17  16
x  15  14  13  12  11