In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        'a': [25, 20, 15, 10, 5],
        'b': [24, 19, 14, 9, 4],
        'c': [23, 18, 13, 8, 3],
        'd': [22, 17, 12, 7, 2],
        'e': [21, 16, 11, 6, 1]
    }, 
    index = ['u', 'v', 'x', 'y', 'z']
)
df

    a   b   c   d   e
u  25  24  23  22  21
v  20  19  18  17  16
x  15  14  13  12  11
y  10   9   8   7   6
z   5   4   3   2   1